<?xml version="1.0"?>
<configuration>
	<!--  SECCIONES ESPECIALES
          Estas secciones fueron agregadas para soportar la operacion del framework
          algunas secciones impactan al sistema completo y algunas otras a elementos
          particulares del mismo.
    -->
	<configSections>
		<!-- Parametros de configuracion del sistema   -->
		<section name="ConfigurationSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<!-- Mapa de procesos de negocio vs manejadores de procesos de negocio   -->
		<section name="BusinessProcessHandlerMap" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<!-- Strings de conexion de todas las bases de datos utilizadas. Debe contener al menos la default   -->
		<section name="SQLConnections" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<!-- Todos los assemblies que contiene la solucion   -->
		<section name="Assemblies" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<!-- Los paths a todos assemblies que contiene la solucion   -->
		<section name="AssembliesPaths" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<!-- Todos los assemblies que contiene la solucion   -->
		<section name="FormulaElementos" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="AgrupacionFormulaElementos" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<!-- Parametros de configuracion de interfaz con OCC   -->
		<section name="OCCSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<!-- Parametros de configuracion de correo  -->
		<section name="MailSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<sectionGroup name="MSOlap">
			<section name="proxySection" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<section name="olapConections" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<MSOlap>
		<proxySection>
			<add key="Enabled" value="true"/>
			<add key="Xmla Proxy" value="MSSQLBI.Olap.XmlaProxy11, MSSQLBI.Olap.Core, Version=1.5.516.0, Culture=neutral, PublicKeyToken="/>
		</proxySection>
		<olapConections>
			<add key="Url" value="http://localhost/xmla/msxisapi.dll"/>
			<add key="DataSource" value="Local Analysis Server"/>
			<add key="Database" value="ITXV5OLAP"/>
		</olapConections>
	</MSOlap>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
	<system.web>
		<webServices>
			<protocols>
				<add name="HttpSoap"/>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
				<add name="Documentation"/>
				<add name="HttpPostLocalhost"/>
			</protocols>
		</webServices>
		<!--Configuración de la capacidad máxima de un archivo que se pueda subir al servidor
    al igual que el tiempo máximo de espera de la subida del archivo.
    Tiempo = 10 min.
    Tamaño = 10 MB
    -->
		
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
    -->
		<customErrors mode="RemoteOnly"/>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"
          
    -->

		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->

		<!-- <identity impersonate="true" /> -->
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" cookieless="false" timeout="20"/>
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<!--  Handlers
          Esta seccion indica que todas las peticiones que cumplan con el patron
          .process deberan ser atendidas por el frontcontroller. 
    -->
		<httpHandlers>
			<add path="*.process" verb="*" type="Intelexion.Framework.Controller.FrontControllerHandler, Intelexion.Framework"/>
			<add path="*.css" verb="*" type="System.Web.UI.PageHandlerFactory"/>
			<add path="*.rpx" verb="*" type="DataDynamics.ActiveReports.Web.Handlers.RpxHandler, ActiveReports.Web"/>
			<add path="*.ActiveReport" verb="*" type="DataDynamics.ActiveReports.Web.Handlers.CompiledReportHandler,ActiveReports.Web"/>
			<add path="*.ArCacheItem" verb="*" type="DataDynamics.ActiveReports.Web.Handlers.WebCacheAccessHandler,ActiveReports.Web"/>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<xhtmlConformance mode="Legacy"/>

		<compilation debug="true"/></system.web>
	<!--  <system.diagnostics>
  <trace autoflush="false" indentsize="4">
    <listeners>
      <add name="EventLogListener"
                 type="System.Diagnostics.EventLogTraceListener" 
                 initializeData="Intelexion"/>
    </listeners>
  </trace>
  </system.diagnostics>    
-->

	<BusinessProcessHandlerMap/>
	<SQLConnections>
		<!--
    <add key="log" value="Data Source=HRC-USE-PRSQL01;Initial Catalog=LOGS; User Id=ITX_PRE; Password=Pre3!.2018$; Connection Lifetime=60; Max Pool Size=2000; Min Pool Size=30" />
	-->
		<add key="default" value="Data Source=127.0.0.1; Initial Catalog=QAV6FCENomina; User Id=ITX_FCE; Password=GDM$1234; Connection Lifetime=60; Max Pool Size=200; Min Pool Size=3; Application Name=HRC_FCENomina"/>
		<add key="framework" value="Data Source=127.0.0.1; Initial Catalog=QAV6FCE; User Id=ITX_FCE; Password=GDM$1234; Connection Lifetime=60; Max Pool Size=200; Min Pool Size=3; Application Name=HRC_FCE"/>
		<!-- <add key="default" value="Data Source=192.168.100.4; Initial Catalog=V5PreNomina; User Id=sa; Password=iTxV5Test; Connection Lifetime=60; Max Pool Size=200; Min Pool Size=3" /> -->
		<!-- <add key="framework" value="Data Source=192.168.100.4; Initial Catalog=V5Pre; User Id=sa; Password=iTxV5Test; Connection Lifetime=60; Max Pool Size=200; Min Pool Size=3" /> -->
		<!--<add key="default" value="Data Source=HRC-PM-L15\LSANTOS; Initial Catalog=V5PreNomina; User Id=sa; Password=itx2018.; Connection Lifetime=60; Max Pool Size=100; Min Pool Size=3" />
    <add key="framework" value="Data Source=HRC-PM-L15\LSANTOS; Initial Catalog=V5Pre; User Id=sa; Password=itx2018.; Connection Lifetime=60; Max Pool Size=100; Min Pool Size=3" />-->
		<!--<add key="default" value="Data Source=HRC-PM-L15; Initial Catalog=V5PreNomina; User Id=sa; Password=itx2018.; Connection Lifetime=60; Max Pool Size=100; Min Pool Size=3" /> 
     <add key="framework" value="Data Source=HRC-PM-L15; Initial Catalog=V5Pre; User Id=sa; Password=itx2018.; Connection Lifetime=60; Max Pool Size=100; Min Pool Size=3" />-->
		<!--<add key="default" value="Data Source=192.168.100.4\MSSQLSERVER2012; Initial Catalog=V5MarzamNomina; User Id=sa; Password=itx2016.; Connection Lifetime=60; Max Pool Size=50; Min Pool Size=3" />
    <add key="framework" value="Data Source=192.168.100.4\MSSQLSERVER2012; Initial Catalog=V5Marzam; User Id=sa; Password=itx2016.; Connection Lifetime=60; Max Pool Size=50; Min Pool Size=3" />-->
		<!--<add key="default" value="Data Source=HRC-USE-DVSQL01\TEST;Initial Catalog=V5PreNomina; User Id=ITX_PRE; Password=P3r.2018!; Connection Lifetime=60; Max Pool Size=2000; Min Pool Size=30" />
    <add key="framework" value="Data Source=HRC-USE-DVSQL01\TEST;Initial Catalog=V5Pre; User Id=ITX_PRE; Password=P3r.2018!; Connection Lifetime=60; Max Pool Size=2000; Min Pool Size=30" />-->
	</SQLConnections>
	<Assemblies>
		<add key="Framework" value="Intelexion.Framework"/>
		<add key="Inventario" value="Intelexion.Inventario"/>
		<add key="Nomina" value="Intelexion.Nomina"/>
		<add key="Organizacion" value="Intelexion.Organizacion"/>
		<add key="Diagnostico" value="Intelexion.Diagnostico"/>
		<add key="Compensacion" value="Intelexion.Compensacion"/>
		<add key="Reclutamiento" value="Intelexion.Reclutamiento"/>
		<add key="Planeacion" value="Intelexion.Planeacion"/>
		<add key="Contrato" value="Intelexion.Contrato"/>
		<add key="Aris" value="Intelexion.Aris"/>
		<add key="Laboral" value="Intelexion.Laboral"/>
		<add key="Calificacion" value="Intelexion.Calificacion"/>
		<add key="ClimaLaboral" value="Intelexion.ClimaLaboral"/>
		<add key="CalificacionPV" value="Intelexion.Evaluaciones.Aplicacion.General"/>
		<add key="EvaluacionPV" value="Intelexion.Evaluaciones"/>
		<add key="Transportes" value="Intelexion.Transportes"/>
		<add key="CapacitacionyDesarrollo" value="Intelexion.CapacitacionyDesarrollo"/>
		<add key="Ev360" value="Intelexion.Ev360"/>
		<add key="EvaluacionDes" value="Intelexion.EvaluacionDes"/>
		<add key="Valuacion" value="Intelexion.Valuacion"/>
		<add key="Vacaciones" value="Intelexion.Vacaciones"/>
		<add key="HRWebClient" value="Intelexion.HRWebClient"/>
		<add key="WorkforceAnalytics" value="Intelexion.WorkforceAnalytics"/>
		<add key="ControlAsistencia" value="Intelexion.ControlAsistencia"/>
		<add key="Presupuestos" value="Intelexion.Presupuestos"/>
	</Assemblies>
	<AssembliesPaths>
		<add key="Framework" value="Intelexion.Framework.dll"/>
		<add key="Nomina" value="Intelexion.Nomina.dll"/>
		<add key="Inventario" value="Intelexion.Inventario.dll"/>
		<add key="Organizacion" value="Intelexion.Organizacion.dll"/>
		<add key="Diagnostico" value="Intelexion.Diagnostico.dll"/>
		<add key="Compensacion" value="Intelexion.Compensacion.dll"/>
		<add key="Reclutamiento" value="Intelexion.Reclutamiento.dll"/>
		<add key="Planeacion" value="Intelexion.Planeacion.dll"/>
		<add key="Contrato" value="Intelexion.Contrato.dll"/>
		<add key="Aris" value="Intelexion.Aris.dll"/>
		<add key="Laboral" value="Intelexion.Laboral.dll"/>
		<add key="Calificacion" value="Intelexion.Calificacion.dll"/>
		<add key="CalificacionPV" value="Intelexion.Evaluaciones.Aplicacion.General.dll"/>
		<add key="EvaluacionPV" value="Intelexion.Evaluaciones.dll"/>
		<add key="Transportes" value="Intelexion.Transportes.dll"/>
		<add key="CapacitacionyDesarrollo" value="Intelexion.CapacitacionyDesarrollo.dll"/>
		<add key="Ev360" value="Intelexion.Ev360.dll"/>
		<add key="EvaluacionDes" value="Intelexion.EvaluacionDes.dll"/>
		<add key="Valuacion" value="Intelexion.Valuacion.dll"/>
		<add key="Vacaciones" value="Intelexion.Vacaciones.dll"/>
		<add key="HRWebClient" value="Intelexion.HRWebClient.dll"/>
		<add key="WorkforceAnalytics" value="Intelexion.WorkforceAnalytics.dll"/>
		<add key="ControlAsistencia" value="Intelexion.ControlAsistencia.dll"/>
		<add key="ClimaLaboral" value="Intelexion.ClimaLaboral.dll"/>
		<add key="Presupuestos" value="Intelexion.Presupuestos.dll"/>
	</AssembliesPaths>
	<FormulaElementos>
		<add key="Empleado" value="Intelexion.Nomina,Intelexion.Nomina.Entities.EmpleadoEntity,Empleado"/>
		<add key="TipoNomina" value="Intelexion.Nomina,Intelexion.Nomina.Entities.TipoNomina,TipoNomina"/>
		<add key="Calendario" value="Intelexion.Nomina,Intelexion.Nomina.Entities.nomCalendarioEntity,Calendario"/>
		<add key="ZonaEconomica" value="Intelexion.Nomina,Intelexion.Nomina.Entities.nomZonaEconomicaDetEntity,ZonaEconomica"/>
		<add key="RazonSocial" value="Intelexion.Nomina,Intelexion.Nomina.Entities.RazonSocialEntity,RazonSocial"/>
		<add key="TotalesCalculo" value="Intelexion.Nomina,Intelexion.Nomina.Entities.TotalesCalculo,TotalesCalculo"/>
		<add key="Funciones" value="Intelexion.Nomina,Intelexion.Nomina.Formulador.Funciones,Intelexion.Nomina.Formulador.Funciones"/>
		<add key="Concepto" value="Intelexion.Nomina,Intelexion.Nomina.Entities.ConceptoEntity,Concepto"/>
	</FormulaElementos>
	<AgrupacionFormulaElementos>
		<add key="Empleado" value="Intelexion.Nomina,Intelexion.Nomina.Entities.EmpleadoEntity,Empleado"/>
		<add key="RazonSocial" value="Intelexion.Nomina,Intelexion.Nomina.Entities.RazonSocialEntity,RazonSocial"/>
		<add key="Funciones" value="Intelexion.Nomina,Intelexion.Nomina.FormuladorAgrupacion.Funciones,Intelexion.Nomina.FormuladorAgrupacion.Funciones"/>
	</AgrupacionFormulaElementos>
	<appSettings>
		<add key="DataDynamicsARLic" value="Hector Ramirez,Intelexion,DD-APN-30-C000260,74VK8S448MSUHHKH9FSI"/>
	</appSettings>
	<system.webServer>
		<security>
			<requestFiltering removeServerHeader="true"/>
		</security>
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="X-UA-Compatible" value="EMULATEIE8"/>
				<add name="X-XSS-Protection" value="1; mode=block"/>
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
				<add name="X-Frame-Options" value="deny"/>
				<add name="Content-Security-Policy" value="frame-ancestors 'self' https://*.gdm.mx https://localhost"/>
				<add name="X-Content-Type-Options" value="nosniff"/>
			</customHeaders>
		</httpProtocol>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="StaticFile"/>
			<remove name="ITX_ACTIVEREPORT"/>
			<remove name="ITX_ARCACHE"/>
			<remove name="ITX_CSS"/>
			<remove name="ITX_PROCESS"/>
			<remove name="SimpleHandlerFactory-ISAPI-4.0_64bit"/>
			<remove name="SimpleHandlerFactory-ISAPI-4.0_32bit"/>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ashx_2017" path="*.ashx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
			<add name="PROCESS_VS2017" path="*.process" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
			<add name="ITX_RPX" path="*.rpx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
			<add name="ITX_PROCESS" path="*.process" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
			<add name="ITX_ARCACHE" path="*.arcacheitem" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
			<add name="ITX_ACTIVEREPORT" path="*.activereport" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
			<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Read"/>
		</handlers>
		<modules>
			<remove name="TelemetryCorrelationHttpModule"/>
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler"/>
			<remove name="ApplicationInsightsWebTracking"/>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
		</modules>
		<!--
        <httpRedirect enabled="false" destination="" />
        <rewrite>
            <rules>
                <rule name="Rewrite to aspx" stopProcessing="true">
                    <match url="^.*\.(xls|jpg)$" ignoreCase="true" />
                    <action type="Rewrite" url="DownloadFileByQueryString.aspx?token=Test1&amp;name=Test2" redirectType="Permanent" />
                    <conditions logicalGrouping="MatchAll">
						          <add input="{REQUEST_URI}" pattern="images/;" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>-->
	</system.webServer>
	<!-- web services de COLABORACIÓN SOCIAL y de INICIALIZACION -->
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IServiciosColaboracionSocial" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
					</security>
				</binding>
				<binding name="WSHttpBinding_IServiciosInicializacion" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://jmundo.intelexion.com/ServiciosColaboracionSocial/ServiciosColaboracionSocial.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiciosColaboracionSocial" contract="ServiciosColaboracionSocial.IServiciosColaboracionSocial" name="WSHttpBinding_IServiciosColaboracionSocial">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://jmundo.intelexion.com/ServiciosInicializacion/ServiciosInicializacion.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiciosInicializacion" contract="ServiciosInicializacion.IServiciosInicializacion" name="WSHttpBinding_IServiciosInicializacion">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<system.diagnostics>
		<trace autoflush="true" indentsize="0">
			<listeners>
				<add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AI.DependencyCollector" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
